<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.satellite.dao.ProductDao'>


	<!-- Instead of referencing Fully Qualified Class Names we can register 
		Aliases in mybatis-config.xml and use Alias names. -->


	<sql id="columnProduct">
		P.ID_PRODUCT ,P.NAME_PRODUCT,P.DESCRIPTION_PRODUCT,
		D.ID_DESIGND,D.NAME_DESIGN ,D.DESCRIPTION ,M.MODEL_ID,M.NAME_MODEL 
		MNAME,M.DESCRPTION 
		
	</sql>
	<sql id="tableProduct">
		PRODUCTO P,DESIGN D,MODEL M
	</sql>
	<sql id="joinProduct">
		P.DESIGN=D.ID AND P.MODEL=M.MODEL_ID 

	</sql>
	
	
	<resultMap type="Product" id="rmProduct">
		<id property='id_product' column='id_product' />
		<result property="name_product" column="name_product"/>
		<result property='descrition_product' column='description_product' />
		<association property="model" javaType="Model">
			<id property='id_model' column='id_model' />
			<result property='name_model' column='name_model' />
			<result property="description_model" column="descrition_model"/>	
		</association>
		<association property="design" javaType="Design">
			<id property='id_design' column='id_design' />
			<result property='name_design' column='name_design' />
			<result property="description_design" column="description_design"/>	
		</association>
	</resultMap>
	
	
	
	
	<select id='getAllProduct' resultMap='rmProduct'>
		SELECT
		<include refid="columnProduct" />
		FROM
		<include refid="tableProduct" />
		WHERE
		<include refid="joinProduct" />
	</select>
	<select id='getProduct' resultMap='rmProduct'>
		SELECT
		<include refid="columnProduct" />
		FROM
		<include refid="tableProduct" />
		WHERE
		<include refid="joinProduct" />
		AND P.PRODUCT_ID=#{id}
	</select>

	<insert id='insertProduct' parameterType="Product">
	<selectKey keyProperty="id_product" resultType="int" order="BEFORE">
    SELECT COALESCE(MAX(ID_DESIGN),0)+1 FROM PRODUCT
  </selectKey>
		INSERT INTO PRODUCT(id_product, name_product,description_product, model_id, design_id)
		VALUES(#{id_product},#{name_product}, #{description_product},#{model.id_model}, #{design.id_design})
	</insert>
	<delete id='deleteProductById'>
		DELETE FROM PRODUCT WHERE ID_PRODUCT = #{id}
	</delete>

</mapper>