<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.sivalabs.mybatisdemo.mappers.UserMapper'>

  <select id='getSucursal' parameterType='int' resultType='com.sivalabs.mybatisdemo.domain.User'>
     SELECT * FROM SUCURSAL 
     WHERE SUCURSAL_ID = #{id}
  </select>
  <!-- Instead of referencing Fully Qualified Class Names we can register Aliases in mybatis-config.xml and use Alias names. -->
   <resultMap type='Sucursal' id='rmSucursal'>
    <id property='id' column='sucursal_id'/>
    <result property='name' column='name'/>
    <result property='description' column='description'/>    
   </resultMap>

  <select id='getAllSucursal' resultMap='rmSucursal'>
   SELECT * FROM SUCURSAL
  </select>

  <insert id='insertUser' parameterType='User' useGeneratedKeys='true' keyProperty='userId'>
   INSERT INTO SUCURSAL(name, description)
    VALUES(#{name}, #{description})
  </insert> 

  <delete id='deleteSucursal' >
    DELETE FROM SUCURSAL WHERE SUCURSAL_ID = #{id}
  </delete>

</mapper>