<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 
 <typeAliases>
 <package name="com.satellite.domain"/>
 
 </typeAliases>
 <!-- 
 <mappers>

<mapper resource="com/satellite/mappers/DesignMapper.xml"/>



<mapper resource="com/satellite/mappers/ModelMapper.xml"/>
<mapper resource="com/satellite/mappers/ProductMapper.xml"/>

</mappers>-->

 </configuration>
